@model AllPropertiesApp.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group pt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Money" class="control-label"></label>
                <input asp-for="Money" class="form-control" type="number"/>
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="TimeOfBirth" class="control-label"></label>
                <input asp-for="TimeOfBirth" class="form-control" />
                <span asp-validation-for="TimeOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="FavouriteNumber" class="control-label"></label>
                <input asp-for="FavouriteNumber" class="form-control" />
                <span asp-validation-for="FavouriteNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check pt-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsStudent" /> @Html.DisplayNameFor(model => model.IsStudent)
                </label>
            </div>
            <div class="form-group pt-3">
                <label asp-for="GenderChar" class="control-label"></label>
                <input asp-for="GenderChar" class="form-control" />
                <span asp-validation-for="GenderChar" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="HeightInCentimeters" class="control-label"></label>
                <input asp-for="HeightInCentimeters" class="form-control" />
                <span asp-validation-for="HeightInCentimeters" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Years" class="control-label"></label>
                <input asp-for="Years" class="form-control" />
                <span asp-validation-for="Years" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="HeightInMeters" class="control-label"></label>
                <input asp-for="HeightInMeters" class="form-control" type="number" />
                <span asp-validation-for="HeightInMeters" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="EnergyConsumption" class="control-label"></label>
                <input asp-for="EnergyConsumption" class="form-control" />
                <span asp-validation-for="EnergyConsumption" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="BigValue" class="control-label"></label>
                <input asp-for="BigValue" class="form-control" />
                <span asp-validation-for="BigValue" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="pt-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
